* {
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  background-color: lightgray;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  max-width: 1024px;
  max-height: 1366px;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  outline: 1px solid gray;
  background-color: white;
  position: relative; /* this is for the menu to open inside the root element */
}
#root-login-button {
  margin: 0.25rem 1rem;
  width: calc(100% - 2rem);
  position: fixed;
  bottom: 0.5rem;
  z-index: 2000;
  background: white;
  height: 5rem;
}