.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5rem;
  max-height: 23rem;
  height: 75vw;
  margin: 0.5rem;
  background-color: white;
  border-radius: 0.6rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 0 0.75rem 0.1rem rgba(128, 128, 128, 0.5);
}

.swipe:first-of-type {
  box-shadow: 0 1rem 2rem 0px rgba(0, 0, 0, 0.3);
}

.cards__cardcontainer {
  display:flex;
  justify-content: center;
  margin: 1rem;
  height: calc(100vh - 12rem - 2px);
}

.card>header,
.card>footer {
  z-index: 0;
  background: rgba(255, 255, 255, 0.75);
  margin: -0.5rem;
  padding: 0.25rem 0.25rem;
  border-radius: 0.6rem 0.6rem 0 0;
  overflow: hidden;
  color: black;
  font-size: smaller;
  }

  .card>footer {
    border-radius: 0 0 0.6rem 0.6rem;
    bottom: 0;
  }

  .card>footer>*,
  .card>header>* {
    padding: 0.25rem;
}

.card > h3 {
  position:absolute;
  max-width: 40rem;
  color: white;
  bottom: 10px;
}

.swipe {
  position: absolute;
  width: 90vw;
  max-width: 40rem;
  margin: 0 auto;
  background-color: white;
  height: calc(100vh - 12rem - 2px);
  overflow: hidden;
}

  .swipe>p {
    padding: 0.25rem 1rem;
  }