.card {
    position: relative;
    width: 95vw;
    padding: 1rem;
    max-width: calc(1024px - 4rem);
    height: 70vh;
    background-color: white;
    border-radius:10px;
    background-size: cover;
    background-position: center;
}

.swipe:first-of-type {
    box-shadow: 0 1rem 2rem 0px rgba(0, 0, 0, 0.3);
}

.cards__cardcontainer {
    display:flex;
    justify-content: center;
    margin: 1rem;
    height: calc(100vh - 12rem - 2px);
}

.card > h3 {
    position:absolute;
    color: white;
    bottom: 10px;
}

.swipe {
    position: absolute;
}